body{
    margin: 0;
    padding: 0%;
    text-align: center;
}
nav{
    background-color: blueviolet;
    height: 10vh;
    padding: 10px;
    color: white;
    font-weight: bolder;
    font-size: large;
}

main{
    height: 65vh;
    padding: 20px;
    background-color: wheat;
}
textarea{
    display: block;
    width: 80vw;
    height: 20vh;
    padding: 10px;
    margin: auto;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#btn-translate{
    background-color: blueviolet;
    color: white;
    font-size: 1.5rem;
    margin-top: 15px;
    padding: 10px 25px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
#output{
    display: block;
    border: 1px solid black;
    width: 80vw;
    height: 20vh;
    padding: 15px;
    margin: auto;
    color: green;
    font-weight: bolder;
    font-size: 1rem;
    font-family:cursive;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow-y:auto;
}

footer{
    background-color: blueviolet;
    color: white;
    height: 15vh;
    padding: 12px;

}
#footer-heading{
    font-size: xx-large;

}
footer p{
    padding-bottom: 10px;
}
